.card-container{
  display: flex;
  justify-content: space-evenly;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#spinner{
  animation: spin 1s infinite;
}

@keyframes spin {
 0%{
  transform: rotate(0deg);
 } 

 100%{
  transform: rotate(360deg);
 } 
}
